<pre>
██╗      ██████╗  ██████╗     ██╗███╗   ██╗██╗
██║     ██╔═══██╗██╔════╝     ██║████╗  ██║██║
██║     ██║   ██║██║  ███╗    ██║██╔██╗ ██║██║
██║     ██║   ██║██║   ██║    ██║██║╚██╗██║╚═╝
███████╗╚██████╔╝╚██████╔╝    ██║██║ ╚████║██╗
</pre>

<br><br>
<%= form_tag url: login_path do %>

<div class="fafix">
  <p>USERNAME OR EMAIL:</p>
  <i class="fa fa-user fa-3x"></i>
  <%= text_field_tag :user %>
 </div>

<div class="fafix">
  <p>PASSWORD:</p>
  <i class="fa fa-lock fa-3x"></i>
  <%= password_field_tag :password %>
</div>

<%= button_tag ("<i class=\"fa fa-sign-in fa-2x\"></i> LOG IN").html_safe %>
<% end %>
