
<div class="row">
  <div class="col-md-4">
    <pre>
########################################
##...............??????...............##
##............??????????..............##
##...........????????????.............##
##..........???????????:???...........##
##.........????:::::::::???:..........##
##.........???::::::::::????..........##
##.........??::::::::::::???..........##
##.........??:::::::::::::?...........##
##.........??:::::::::::::?:..........##
##.........:?:::::::::::::?:..........##
##.........:::::::::::::::::..........##
##...........::::::::::::::...........##
##...........:::::::::::::............##
##............:::::::::::.............##
##.............:::::::::..............##
##............===:::::===.............##
##..........==::::::::::==............##
##........=====:::::::::====,.........##
##...============::::============.....##
##=================:================..##
##====================================##
########################################
########################################

    </pre>

  </div>
  <div class="col-md-8">

    <pre>
██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗
██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝
██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
    </pre>

    <table class="profile-content">
      <tr>
        <td class="prfile-table-fa"> <span class="fa fa-user fa-wa fa-2x"></span></td>
        <td class="profile-table-label">USERNAME: </td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td class="table-fa"><span class="fa fa-envelope fa-wa fa-2x"></td>
        <td class="profile-table-label">EMAIL:</td>
        <td ><%= @user.email %></td>
      </tr>
      <tr>
        <td class="table-fa"><span class="fa fa-plus-circle fa-wa fa-2x"></span></td>
        <td class="profile-table-label">CREATED:</td>
        <td><%= @user.created_at %></td>
      </tr>
      <tr>
        <td class="table-fa"><span class="fa fa-wrench fa-wa fa-2x"></span></td>
        <td class="profile-table-label">UPDATED:</td>
        <td><%= @user.updated_at %></td>
      </tr>
    </table>



  </div>
</div>
