
<% if flash.any? %>
  <% flash.each do |key, val| %>
    <% if key == "success" %>
      <div id="flash-container" class="<%= "flash-#{key}" %>">
        <p>
          <span class="fa fa-info-circle fa-2x"></span>
    <% elsif key == "error" %>
      <div id="flash-container" class="<%= "flash-#{key}" %>">
        <p>
          <span class="fa fa-exclamation-circle fa-2x"></span>
    <% end %>

          <%= val %>
        </p>
      </div>
  <% end %>
<% end %>
