<div class="row footer-center">
  <div class="col-md-10 col-md-offset-1">
    <nav id="footer">
      <ul>
        <li><%= link_to "REGISTER", new_user_path %></li>
        <li><%= link_to "HOME", root_path %></li>
      </ul>
    </nav>
  </div>
</div>
